{%- set pylist -%}
{%- for i in range(min_python_version.replace('.', '')[1:] | int, max_python_version.replace('.', '')[1:] | int + 1) -%}
{%- if loop.first %}{% raw %}py{{% endraw %}{% endif -%}
3{{i}}
{%- if not loop.last %},{% else %}}{% endif -%}
{%- endfor -%}
{%- endset -%}

[tox]
envlist = clean,{{pylist}},report

[testenv]
allowlist_externals = uv
parallel_show_output = true
depends =
    {{pylist}}: clean
    report: {{pylist}}
commands =
    uv run python --version
    uv run coverage run --context={envname} -p -m pytest -vv {posargs}

[testenv:report]
allowlist_externals = uv
passenv = COVERAGE_REPORT_COMMAND
parallel_show_output = true
commands =
    uv run coverage combine
    uv run {env:COVERAGE_REPORT_COMMAND:coverage report}

[testenv:clean]
allowlist_externals = uv
commands =
    uv run coverage erase
