---
ci:
    autofix_commit_msg: 'style: pre-commit.ci auto fixes [...]'
    autoupdate_commit_msg: 'chore: pre-commit autoupdate'
    autoupdate_schedule: monthly
repos:
    - hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-yaml
          - id: check-added-large-files
      repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
    - hooks:
          - entry: codespell
            id: codespell
      repo: https://github.com/codespell-project/codespell
      rev: v2.4.1
    - hooks:
          - id: yamllint
      repo: https://github.com/adrienverge/yamllint.git
      rev: v1.37.1
    - hooks:
          - args:
                - --fix
                - --exit-non-zero-on-fix
            id: ruff
          - id: ruff-format
      repo: https://github.com/charliermarsh/ruff-pre-commit
      rev: v0.14.10
exclude: |
  (?x)^(
    reps/templates
  )
