[tool.poetry]
name = "releng-project-standard"
version = "0.1.0"
description = "Mozilla Release Engineering Project Standard"
authors = ["Mozilla Release Engineering <release@mozilla.com>"]
license = "MPL-2.0"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
cookiecutter = "^2.1.1"
pre-commit = "^3.3.3"
taskcluster-taskgraph = "^5.4.0"
pyyaml = "^6.0"

[tool.poetry.scripts]
reps = "reps.console:run"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
