---
trust-domain: "{{ trust_domain }}"
task-priority: low

taskgraph:
  cached-task-prefix: "{{ trust_domain }}.v2.{{ trust_project }}"
  repositories:
    {{ package_name }}:
      name: "{{ project_name }}"

workers:
  aliases:
    images:
      provisioner: '{trust-domain}-{level}'
      implementation: docker-worker
      os: linux
      worker-type: '{alias}-gcp'
    linux:
      provisioner: '{trust-domain}-t'
      implementation: docker-worker
      os: linux
      worker-type: 't-{alias}-large-gcp'
