{{ project_name }}
{{ "=" * project_name | length }}

{{ short_description }}


Table of Contents
-----------------

.. toctree::
   :maxdepth: 2

   tutorials/index
   howto/index
   concepts/index
   reference/index
